<h1>Meelo & Ben</h1>

<h2>Overview</h2>
<ul>
    <li>Wedding day at the municipality with close family</li>
    <li>Wedding day in hour garden with family, friends and BBQ</li>
</ul>

<h2>Wedding day at the municipality with close family</h2>

<h3>Civil ceremony</h3>
<dl>
    <dt>Timing</dt>
    <dd>RDV 11:00 in front of the castle "château malou"</dd>
    <dt>Where?</dt>
    <dd><b>"château malou"</b>: Allée Pierre Levie 2, 1200 Woluwe-Saint-Lambert</dd>
    <dt>Who?</dt>
    <dd>Witnesses, brothers and sisters, parents, ants and uncles</dd>
</dl>

<h3>Picture session</h3>
<dl>
    <dt>Timing</dt>
    <dd>After the Civil ceremony until 14:00</dd>
    <dt>Where?</dt>
    <dd>Parc du cinquentenaire</dd>
    <dt>Who?</dt>
    <dd>Witnesses, brothers and sisters, parents, ants and uncles</dd>
</dl>

{% set long = "4.439135" %}
{% set lat = "50.841472" %}

<img src="https://maps.googleapis.com/maps/api/staticmap?center={{ lat }}%2C{{ long }}&zoom=11&size=400x400&maptype=roadmap&markers=color%3Ared%7C{{ lat }}%2C{{ long }}&scale=1">

<img src="http://fr.woluwe1200.be/wp-content/uploads/2015/04/chateau-malou-parc-2.jpg" height="400px">

<h3>Ellis house</h3>
<dl>
    <dt>Timing</dt>
    <dd>From 14:00 until 18:00</dd>
    <dt>Where?</dt>
    <dd>7 rue de la Dime, 6120 Nalinnes</dd>
    <dt>Who?</dt>
    <dd>Witnesses, brothers and sisters, parents, ants and uncles</dd>
</dl>

{% set long = "4.439657" %}
{% set lat = "50.322851" %}

<img src="https://maps.googleapis.com/maps/api/staticmap?center={{ lat }}%2C{{ long }}&zoom=11&size=400x400&maptype=roadmap&markers=color%3Ared%7C{{ lat }}%2C{{ long }}&scale=1">


<h3>Chinese food</h3>
<dl>
    <dt>Timing</dt>
    <dd>From 14:00 until 18:00</dd>
    <dt>Where?</dt>
    <dd>7 rue de la Dime, 6120 Nalinnes</dd>
    <dt>Who?</dt>
    <dd>Witnesses, brothers and sisters, parents, ants and uncles</dd>
    <dt>Website</dt>
    <dd><a href="http://www.lempiredudragon.be/">http://www.lempiredudragon.be/</a></dd>
</dl>

{% set long = "4.542127" %}
{% set lat = "50.472613" %}

<img src="https://maps.googleapis.com/maps/api/staticmap?center={{ lat }}%2C{{ long }}&zoom=11&size=400x400&maptype=roadmap&markers=color%3Ared%7C{{ lat }}%2C{{ long }}&scale=1">
<img src="http://www.lempiredudragon.be/beelden/2_salle_ok.jpg" height="400px">


<h3>Christiaens house</h3>
<dl>
    <dt>Timing</dt>
    <dd>After chinese restaurent</dd>
    <dt>Where?</dt>
    <dd>Rue trieu kaisin 7 Gilly<br>

    </dd>
    <dt>Who?</dt>
    <dd>Witnesses, brothers and sisters, parents, ants and uncles</dd>
    <dt>Website</dt>
    <dd><a href="http://www.lempiredudragon.be/">http://www.lempiredudragon.be/</a></dd>
</dl>

{% set long = "4.4878092" %}
{% set lat = "50.4104716" %}
<img src="https://maps.googleapis.com/maps/api/staticmap?center={{ lat }}%2C{{ long }}&zoom=14&size=400x400&maptype=roadmap&markers=color%3Ared%7C{{ lat }}%2C{{ long }}&scale=1">
<img src="https://maps.googleapis.com/maps/api/staticmap?center={{ lat }}%2C{{ long }}&zoom=15&size=400x400&maptype=roadmap&markers=color%3Ared%7C{{ lat }}%2C{{ long }}&scale=1">
