{% extends '::base.html.twig' %}

{% block body %}

<div class="container">
    {#<div class="header clearfix">#}
    {#<nav>#}
    {#r#}
    {#</nav>#}
    {#<h3 class="text-muted"></h3>#}
    {#</div>#}


    <div class="jumbotron" style="
            background-image: url('{{ asset('pics/NZ hobbit.png') }}');
            background-size: cover;
            background-position: 50% 50%;
            font-weight: bolder; color: white;
            text-shadow: 0 0 7px rgba(255, 255, 255, 0.3);
            margin-top: 50px;
            margin-bottom: 200px;
            ">
        <div style="padding: 20px 30px">
            <h1 class="display-3">
                <img src="{{ asset('pics/17361666_10212177398420766_5118009215660092449_n.jpg') }}" style="
            border: solid 10px white; position: absolute;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
            transform: rotate(7deg);
                  margin-top: -118px;
    margin-left: -183px;
        " height="180px">
                Meelo & Ben</h1>
            <p class="lead" style="font-weight: bold;">Hello Family!
                Meelo and I got engaged during our last holiday in New Zealand, summer 2016, and it is now time to get
                married!
                We are going to sign the official paper with parents-brothers-sisters-uncles-and-aunts at the
                municipality the 27th of October 2017 in Belgium.
                We will celebrate our wedding with friends & family in May 2018 (date to be determined) also in Belgium.
            </p>


            <img src="{{ asset('pics/13729189_10209801913515128_1778472387825637692_n.jpg') }}" style="
            border: solid 10px white;
            position: absolute;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
            transform: rotate(18deg);
            margin-top: 20px;
            z-index: 5;
            margin-left: -250px;" height="150px">

            <img src="{{ asset('pics/1972372_10203330396331243_1757902219_n.jpg') }}" style="
            border: solid 10px white;
            position: absolute;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
            transform: rotate(8deg);
            margin-top: 20px;
            margin-left: -652px;" height="180px">


            <img src="{{ asset('pics/552359_4280756747732_782171499_n.jpg') }}" style="
            border: solid 10px white;
            position: absolute;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
            transform: rotate(-6deg);
            margin-top: 20px;
            margin-left: -452px;" height="180px">

            <img src="{{ asset('pics/22140364_10214031751578436_1663698788_o.jpg') }}" style="
            border: solid 10px white;
            position: absolute;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
            transform: rotate(-6deg);
            margin-top: 20px;
            margin-left: 0px;" height="180px">

            <img src="{{ asset('pics/20170610_161127.jpg') }}" style="
            border: solid 10px white;
            position: absolute;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
            transform: rotate(-95deg);
            margin-top: 20px;
            margin-left: 188px;" height="180px">

            <img src="{{ asset('pics/10403520_10204040046672058_2742820113528358267_n.jpg') }}" style="
            border: solid 10px white;
            position: absolute;
            box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
            transform: rotate(-2deg);
            margin-top: 20px;
            margin-left: 380px;" height="180px">

        </div>
        {#<p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>#}
    </div>


    <div class="row text-center">
        <div class="col-sm-6 ">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Wedding day at the municipality</h4>
                    <p class="card-text">With close family and witnesses.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">27/10/2017</small>
                </div>
            </div>
        </div>
        <div class="col-sm-6 ">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Wedding day in our garden</h4>
                    <p class="card-text">With family, friends &amp; BBQ.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">??/05/2018</small>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>


    <h2>Wedding day at the municipality with close family and witnesses</h2>
    <br>

    <div class="row ">


        <div class="col-sm-6">
            {% set long = "4.439135" %}
            {% set lat = "50.841472" %}

            <div class="card mb-3">
                <img class="card-img-top"
                     src="http://fr.woluwe1200.be/wp-content/uploads/2015/04/chateau-malou-parc-2.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Civil ceremony</h4>
                    <dl>
                        <dt>Timing</dt>
                        <dd>RDV 11:00 in front of the castle "château malou"</dd>
                        <dt>Where?</dt>
                        <dd><b>"château malou"</b>: <a
                                    href="https://www.google.be/maps/place/Ch%C3%A2teau+Malou/@50.8408121,4.4388284,15z/data=!4m5!3m4!1s0x0:0xfd3847c23bfd461d!8m2!3d50.8408121!4d4.4388284?sa=X&ved=0ahUKEwiL15zjrt7WAhUSKVAKHfR9AZgQ_BIIeDAK">
                                Allée Pierre Levie 2, 1200 Woluwe-Saint-Lambert
                            </a></dd>
                    </dl>
                </div>
                {#<img class="card-img-bottom"#}
                     {#src="https://maps.googleapis.com/maps/api/staticmap?center={{ lat }}%2C{{ long }}&zoom=12&size=400x150&maptype=roadmap&markers=color%3Ared%7C{{ lat }}%2C{{ long }}&scale=1"#}
                     {#alt="Card image cap">#}
            </div>
        </div>


        <div class="col-sm-6">
            {% set lat = "50.839891" %}
            {% set long = "4.395631" %}

            <div class="card mb-3">
                <img class="card-img-top"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Parc_du_Cinquantenaire_30-05-06.JPG/1200px-Parc_du_Cinquantenaire_30-05-06.JPG"
                     alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Picture session</h4>
                    <dl>
                        <dt>Timing</dt>
                        <dd>After the Civil ceremony until 14:00</dd>
                        <dt>Where?</dt>
                        <dd>
                            <a href="https://www.google.be/maps/place/50%C2%B050'23.5%22N+4%C2%B023'45.7%22E/@50.839862,4.3949247,18z/data=!3m1!4b1!4m13!1m6!3m5!1s0x47c3c4a429725b5f:0xaf02f3faf1c7325a!2sParc+du+Cinquantenaire!8m2!3d50.841393!4d4.3904833!3m5!1s0x0:0x0!7e2!8m2!3d50.8398618!4d4.3960194">
                                Parc du cinquentenaire
                            </a>
                        </dd>
                    </dl>
                </div>
                {#<img class="card-img-bottom"#}
                     {#src="https://maps.googleapis.com/maps/api/staticmap?center={{ lat }}%2C{{ long }}&zoom=12&size=400x150&maptype=roadmap&markers=color%3Ared%7C{{ lat }}%2C{{ long }}&scale=1"#}
                     {#alt="Card image cap">#}
            </div>
        </div>
    </div>

    <br>
    <br>
    <div class="row ">


        <div class="col-sm-6">
            {% set long = "4.439657" %}
            {% set lat = "50.322851" %}

            <div class="card mb-3">
                <img class="card-img-top"
                     src="{{ asset('pics/ellis.png') }}"
                     alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Ellis house</h4>
                    <dl>
                        <dt>Timing</dt>
                        <dd>From 14:00 until 18:00</dd>
                        <dt>Where?</dt>
                        <dd>
                            <a href="https://www.google.be/maps/place/50%C2%B019'21.5%22N+4%C2%B026'23.2%22E/@50.322628,4.4390247,18z/data=!3m1!4b1!4m14!1m7!3m6!1s0x47c22168fb9ef1b5:0x4a81d39cf0d559dc!2sRue+de+la+D%C3%AEme+7,+6120+Ham-sur-Heure-Nalinnes!3b1!8m2!3d50.3228511!4d4.4396566!3m5!1s0x0:0x0!7e2!8m2!3d50.3226284!4d4.4397692">
                                7 rue de la Dime, 6120 Nalinnes
                            </a>
                        </dd>
                    </dl>
                </div>
                {#<img class="card-img-bottom"#}
                     {#src="https://maps.googleapis.com/maps/api/staticmap?center={{ lat }}%2C{{ long }}&zoom=12&size=400x150&maptype=roadmap&markers=color%3Ared%7C{{ lat }}%2C{{ long }}&scale=1"#}
                     {#alt="Card image cap">#}
            </div>
        </div>


        <div class="col-sm-6">
            {% set long = "4.542127" %}
            {% set lat = "50.472613" %}

            <div class="card mb-3">
                <img class="card-img-top"
                     src="http://www.lempiredudragon.be/beelden/2_salle_ok.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Chinese food</h4>
                    <dl>
                        <dt>Timing</dt>
                        <dd>From 18:00 until 22:00</dd>
                        <dt>Where?</dt>
                        <dd>
                            <a href="https://www.google.be/maps/place/L'Empire+du+Dragon/@50.4723604,4.5408177,18z/data=!4m15!1m9!2m8!1zSMO0dGVscw!3m6!1zSMO0dGVscw!2s50.472063399999996,+4.541676!3s0x47c229d1554aa139:0xde54f9d27cfc495!4m2!1d4.541676!2d50.4720634!3m4!1s0x0:0x58bbe72abec01ff2!8m2!3d50.4726128!4d4.5421278">
                                Chaussée de Charleroi 503, 6220 Fleurus
                            </a>
                        </dd>
                        <dt>Website</dt>
                        <dd><a href="http://www.lempiredudragon.be/">http://www.lempiredudragon.be/</a></dd>
                    </dl>
                </div>
                {#<img class="card-img-bottom"#}
                     {#src="https://maps.googleapis.com/maps/api/staticmap?center={{ lat }}%2C{{ long }}&zoom=12&size=400x150&maptype=roadmap&markers=color%3Ared%7C{{ lat }}%2C{{ long }}&scale=1"#}
                     {#alt="Card image cap">#}
            </div>
        </div>
    </div>

    <br>
    <br>
    <div class="row ">


        <div class="col-sm-6">
            {% set long = "4.439657" %}
            {% set lat = "50.322851" %}

            <div class="card mb-3">
                <img class="card-img-top"
                     src="{{ asset('pics/christiaens.png') }}"
                     alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Christiaens house</h4>
                    <p class="card-text text-primary" style="font-weight: bold">
                        Pour ceux qui veulent un petit dernier digestif/café avant de repartir.
                    </p>
                    <dl>
                        <dt>Timing</dt>
                        <dd>After chinese restaurant</dd>
                        <dt>Where?</dt>
                        <dd>
                            <a href="https://www.google.be/maps/place/50%C2%B024'37.4%22N+4%C2%B029'16.9%22E/@50.410381,4.4874868,19z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d50.4103809!4d4.4880341">
                                Rue trieu kaisin 8<br>
                                6060 Gilly
                            </a><br>
                        </dd>
                    </dl>
                </div>
                {#<img class="card-img-bottom"#}
                     {#src="https://maps.googleapis.com/maps/api/staticmap?center={{ lat }}%2C{{ long }}&zoom=12&size=400x150&maptype=roadmap&markers=color%3Ared%7C{{ lat }}%2C{{ long }}&scale=1"#}
                     {#alt="Card image cap">#}
            </div>
        </div>

    </div>




    <br>
    <br>
    <h2>Additional information</h2>

    <dl>
        <dt>Meelo & Ben's address</dt>
        <dd>35 avenue Michel Sterckmans</dd>
        <dt>Ben's phone</dt>
        <dd>+32 (0) 487 89 71 75</dd>
        <dt>Rees's phone</dt>
        <dd>+32 (0) 475 27 68 21</dd>
        <dt>Wedding list - "Liste de mariage"</dt>
        <dd>
            Your presence with us on this day is what counts most for us. We have lived together for years and we
            don't
            miss anything.<br>
            Anyway, if you do want to give us a little something, we would like to travel in the North of Europe in
            2018.
            BE24 0632 4033 7238 - communication: "<i>honeymoon</i>".
        </dd>
    </dl>


    {% endblock %}


    {% block javascripts %}

        <script src="//code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
                integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
                crossorigin="anonymous"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
                integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
                crossorigin="anonymous"></script>

    {% endblock %}
