<h1>Meelo & Ben</h1>

<h2>Overview</h2>
<ul>
    <li>Wedding day at the municipality with close family and witnesses.</li>
    <li>Wedding day in hour garden with family, friends and BBQ</li>
</ul>

<h2>Wedding day at the municipality with close family</h2>

<h3>Civil ceremony</h3>
<dl>
    <dt>Timing</dt>
    <dd>RDV 11:00 in front of the castle "château malou"</dd>
    <dt>Where?</dt>
    <dd><b>"château malou"</b>: <a href="https://www.google.be/maps/place/Ch%C3%A2teau+Malou/@50.8408121,4.4388284,15z/data=!4m5!3m4!1s0x0:0xfd3847c23bfd461d!8m2!3d50.8408121!4d4.4388284?sa=X&ved=0ahUKEwiL15zjrt7WAhUSKVAKHfR9AZgQ_BIIeDAK">
            Allée Pierre Levie 2, 1200 Woluwe-Saint-Lambert
        </a></dd>
</dl>

{% set long = "4.439135" %}
{% set lat = "50.841472" %}


<img src="https://maps.googleapis.com/maps/api/staticmap?center={{ lat }}%2C{{ long }}&zoom=12&size=400x400&maptype=roadmap&markers=color%3Ared%7C{{ lat }}%2C{{ long }}&scale=1">
<img src="http://fr.woluwe1200.be/wp-content/uploads/2015/04/chateau-malou-parc-2.jpg" height="400px">


<h3>Picture session</h3>
<dl>
    <dt>Timing</dt>
    <dd>After the Civil ceremony until 14:00</dd>
    <dt>Where?</dt>
    <dd><a href="https://www.google.be/maps/place/50%C2%B050'23.5%22N+4%C2%B023'45.7%22E/@50.839862,4.3949247,18z/data=!3m1!4b1!4m13!1m6!3m5!1s0x47c3c4a429725b5f:0xaf02f3faf1c7325a!2sParc+du+Cinquantenaire!8m2!3d50.841393!4d4.3904833!3m5!1s0x0:0x0!7e2!8m2!3d50.8398618!4d4.3960194">
            Parc du cinquentenaire
        </a>
    </dd>
</dl>

{% set lat = "50.839891" %}
{% set long = "4.395631" %}

<img src="https://maps.googleapis.com/maps/api/staticmap?center={{ lat }}%2C{{ long }}&zoom=12&size=400x400&maptype=roadmap&markers=color%3Ared%7C{{ lat }}%2C{{ long }}&scale=1">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Parc_du_Cinquantenaire_30-05-06.JPG/1200px-Parc_du_Cinquantenaire_30-05-06.JPG" height="400px">


<h3>Ellis house</h3>
<dl>
    <dt>Timing</dt>
    <dd>From 14:00 until 18:00</dd>
    <dt>Where?</dt>
    <dd>
        <a href="https://www.google.be/maps/place/50%C2%B019'21.5%22N+4%C2%B026'23.2%22E/@50.322628,4.4390247,18z/data=!3m1!4b1!4m14!1m7!3m6!1s0x47c22168fb9ef1b5:0x4a81d39cf0d559dc!2sRue+de+la+D%C3%AEme+7,+6120+Ham-sur-Heure-Nalinnes!3b1!8m2!3d50.3228511!4d4.4396566!3m5!1s0x0:0x0!7e2!8m2!3d50.3226284!4d4.4397692">
            7 rue de la Dime, 6120 Nalinnes
        </a>
    </dd>
</dl>

{% set long = "4.439657" %}
{% set lat = "50.322851" %}

<img src="https://maps.googleapis.com/maps/api/staticmap?center={{ lat }}%2C{{ long }}&zoom=11&size=400x400&maptype=roadmap&markers=color%3Ared%7C{{ lat }}%2C{{ long }}&scale=1">
<img src="{{ asset('pics/ellis.png') }}" height="400px">


<h3>Chinese food</h3>
<dl>
    <dt>Timing</dt>
    <dd>From 18:00 until 22:00</dd>
    <dt>Where?</dt>
    <dd>
        <a href="https://www.google.be/maps/place/L'Empire+du+Dragon/@50.4723604,4.5408177,18z/data=!4m15!1m9!2m8!1zSMO0dGVscw!3m6!1zSMO0dGVscw!2s50.472063399999996,+4.541676!3s0x47c229d1554aa139:0xde54f9d27cfc495!4m2!1d4.541676!2d50.4720634!3m4!1s0x0:0x58bbe72abec01ff2!8m2!3d50.4726128!4d4.5421278">
            Chaussée de Charleroi 503, 6220 Fleurus
        </a>
    </dd>
    <dt>Who?</dt>
    <dd>Witnesses, brothers and sisters, parents, ants and uncles</dd>
    <dt>Website</dt>
    <dd><a href="http://www.lempiredudragon.be/">http://www.lempiredudragon.be/</a></dd>
</dl>

{% set long = "4.542127" %}
{% set lat = "50.472613" %}

<img src="https://maps.googleapis.com/maps/api/staticmap?center={{ lat }}%2C{{ long }}&zoom=11&size=400x400&maptype=roadmap&markers=color%3Ared%7C{{ lat }}%2C{{ long }}&scale=1">
<img src="http://www.lempiredudragon.be/beelden/2_salle_ok.jpg" height="400px">


<h3>Christiaens house</h3>
<dl>
    <dt>Timing</dt>
    <dd>After chinese restaurent</dd>
    <dt>Where?</dt>
    <dd>
        <a href="https://www.google.be/maps/place/50%C2%B024'37.4%22N+4%C2%B029'16.9%22E/@50.410381,4.4874868,19z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d50.4103809!4d4.4880341">
            Rue trieu kaisin 8<br>
            6060 Gilly
        </a><br>
    </dd>
</dl>

{% set long = "4.4878092" %}
{% set lat = "50.4104716" %}
<img src="https://maps.googleapis.com/maps/api/staticmap?center={{ lat }}%2C{{ long }}&zoom=14&size=400x400&maptype=roadmap&markers=color%3Ared%7C{{ lat }}%2C{{ long }}&scale=1">
<img src="{{ asset('pics/christiaens.png') }}" height="400px">

<h2>Additional information</h2>

<dl>
    <dt>Meelo & Ben's address</dt>
    <dd>35 avenue Michel Sterckmans</dd>
    <dt>Wedding list - "Liste de mariage"</dt>
    <dd>
        Your presence with us on this day is what counts most for us. We have lived together for years and we don't miss anything.<br>
        Anyway, if you do want to give us a little something, we would like to travel in the North of Europe in 2018.
        BE24 0632 4033 7238 - communication: "<i>honeymoon</i>".
    </dd>
</dl>
